input[type=text] {
  border: 1px solid #ccc;
  padding: 4px;
  color: #000;
}

textarea {
  vertical-align: middle;
  border: 1px solid #ccc;
}

button.delete {
  background: #e64c3f;
  color: #ffffff;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border: 0px;
}

button.add {
  background: #5284ee;
  color: #ffffff;
  padding: 8px;
  text-transform: uppercase;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border: 0px;
}

label {
  position: relative;
}

.react-datepicker__input-container:before {
  content: "";
  position: absolute;
  right: 4px;
  width: 20px;
  background: url("data:image/svg+xml,%0A%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' width='1em' height='1em' preserveAspectRatio='xMidYMid meet' viewBox='0 0 8 8' style='-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);'%3E%3Cpath d='M0 0v2h7V0H0zm0 3v4.91c0 .05.04.09.09.09H6.9c.05 0 .09-.04.09-.09V3h-7zm1 1h1v1H1V4zm2 0h1v1H3V4zm2 0h1v1H5V4zM1 6h1v1H1V6zm2 0h1v1H3V6z' fill='gray'/%3E%3C/svg%3E") center / contain no-repeat;
  height: 30px;
  top: 1px;
}

label.product_id:before {
  content: "";
  position: absolute;
  right: 0;
  top: -3px;
  bottom: -3px;
  width: 24px;
  background-color: #5284ee;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
}

label.product_id:after {
  content: "";
  position: absolute;
  right: 4px;
  top: 1px;
  bottom: 0;
  width: 16px;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' x='0px' y='0px' viewBox='0 0 492.426 492.426' xml:space='preserve'%3E%3Cpolygon points='492.426,246.213 406.213,160 406.213,231.213 86.213,231.213 86.213,160 0,246.213 86.213,332.427 86.213,261.213 406.213,261.213 406.213,332.427' fill='white'/%3E%3C/svg%3E");
}

button.save {
  float: right;
  margin-top: 40px;
}

.label {
  font-weight: 800;
  margin: 10px 0 10px 0;
}

textarea.error,input.error {
  border: 1px solid red;
}

.errorMsg {
  color: red;
  font-size: 12px;
}

.address_input {
  margin: 6px 0 6px 0;
}

.address_input input {
  width: 96%;
}

.datepicker input {
  height: 24px;
  width: 90px;
}

.datepicker input {
  height: 24px;
  width: 90px;
}

@media only screen and (min-width: 45em) {  /* 720px */
  .address_input {
    width: 100%;
  }
}

@media screen and (max-width: 768px) {
  .errorMsg {
    color: red;
    font-size: 8px;
  }
}

@media only screen and (min-width: 60em) { /* 960px */
  .address_input {
    width: 100%;
  }
}